/*세부내역 수정 뷰*/
.modify-container {
  width: 100vw;
  height: 100vh;
  font-family: Pretendard;
  color: white;
  position: relative;
  background-color: rgb(var(--navy));
}

/*header style*/
.modify-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 5% 0 5%;
}
.modify-header .modify-header-title {
  font-weight: 600;
  font-size: 18px;
}

.modify-header .modify-header-delete {
  width: 24px;
  height: 24px;
}
/*title style*/
.modify-title {
  margin: 25px 0 30px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.modify-title .modify-content-title {
  font-weight: 600;
  font-size: 20px;
  margin-left: 5%;
  background-color: transparent;
  border: 0;
  outline: 0;
  color: white;
  border-top: solid 1.5px transparent;
  padding: 3px 0;
}

.modify-title .modify-content-title:focus {
  caret-color: #00c982;
  padding: 3px 0;
  border-bottom: solid 1.5px #00c982;
  border-top: solid 1.5px transparent;
}
.modify-title .modify-edit-title-icon {
  width: 21px;
  height: 21px;
  opacity: 0.5;
  margin-left: 5px;
}
/*modify-content-block*/
.modify-detail-block {
  width: 90%;
  margin: 0 5%;
}

.modify-detail-block > * {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
  width: 100%;
}

.modify-detail-block .modify-detail-title {
  font-size: 14px;
  color: #939393;
  margin-right: 5%;
  width: 10%;
}

.modify-detail-block :nth-child(5) {
  position: relative;
}
.modify-detail-block :nth-child(5) .modify-detail-title {
  position: absolute;
  top: 9px;
}
.modify-detail-block :nth-child(5) .modify-detail-value {
  margin-left: 11%;
}

.modify-detail-block .modify-detail-value {
  width: 100%;
  font-size: 15px;
  background-color: transparent;
  color: #ffffff;
  border: 0;
  outline: 0;
  padding: 3px 0;
  border-top: solid 1.5px transparent;
  border-bottom: solid 1.5px transparent;
}
.modify-detail-block .modify-detail-value:focus {
  font-size: 15px;
  background-color: transparent;
  color: #ffffff;
  border: 0;
  outline: 0;
  border-style: none;
  caret-color: #00c982;
  padding: 3px 0;
  border-bottom: solid 1.5px #00c982;
  border-top: solid 1.5px transparent;
}

.modify-eco .modify-eco-tag {
  border-radius: 43px;
  padding: 6px 16px;
  gap: 10px;
  margin: 5px;
  border: none;
  color: white;
}

.modify-eco-tag.eco {
  background-color: rgba(var(--green), 0.1);
}

.modify-eco-tag.neco {
  background-color: rgba(var(--mid-gray), 0.1);
}

.modify-eco-tag.etc {
  background-color: rgba(255, 255, 255, 0.1);
}

.modify-modal-eco-content {
  height: 35vh;
  overflow: scroll;
  padding-top: 70px;
}

.modify-save-btn {
  right: 5vw;
  font-size: 15px;
  width: 90vw;
  height: 7vh;
  border-radius: 30px;
  bottom: 20px;
  position: absolute;
  text-align: center;
  border: 0;
  color: #141b27;
  background-color: #00c982;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.modify-save-btn:disabled {
  right: 5vw;
  font-size: 15px;
  width: 90vw;
  height: 7vh;
  border-radius: 30px;
  bottom: 20px;
  position: absolute;
  text-align: center;
  border: 0;
  color: #141b27;
  background-color: rgb(255, 255, 255, 0.2);
  cursor: pointer;
}

#modal-root .calendars {
  width: 90%;
  margin-top: 37px;
  overflow: scroll;
}

#modal-root .calendars .body .col {
  height: 40px;
}

#modal-root .row {
  width: 90%;
  margin: 0px 3%;
}

#modal-root .number {
  opacity: 1;
}

#modal-root .header {
  position: absolute;
  background-color: transparent;
  padding: 5px;
  top: 45px;
  font-weight: 400;
  font-size: 16px;
}

#modal-root .modify-modal-title {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  padding: 10px 0;
}

#modal-root .type-container.wrap0 {
  margin-top: 10vh;
  height: 30vh;
}
