.statistic-main {
  position: relative;
  width: 100vw;
  height: calc(100vh - 30px);
  overflow: scroll;
  color: white;
  font-family: Pretendard;
}

.stat-main-contents {
  margin-top: 70px;
}
.stat-main-contents a {
  text-decoration: none;
}

.month-box {
  font-family: Pretendard;
  position: relative;
  width: 100%;
  background-color: #141b27;
  padding-top: 25px;
  padding-bottom: 6.87px;
  cursor: pointer;
}

.month-box .month-breakdown {
  position: relative;
  margin-bottom: 25px;
}

.month-box .month-breakdown p {
  display: inline;
  font-size: 16px;
  font-family: Pretendard;
  margin-left: 21px;
  color: rgba(255, 255, 255, 0.4);
}

.month-box .month-breakdown h1 {
  position: relative;
  display: inline;
  font-size: 25px;
  font-family: Pretendard;
  margin-left: 21px;
  color: #ffffff;
  float: right;
  margin: 0 32px;
  top: -3px;
}

.month-box .month-breakdown .box-icon {
  position: relative;
  display: inline;
  color: rgba(255, 255, 255, 0.4);
  width: 24px;
  height: 24px;
  float: right;
  margin: 0 28px;
  top: -3px;
}

.line-box {
  background-color: #000b21;
  width: 100%;
  height: 12px;
}

.line-box2 {
  background-color: #000b21;
  width: 100%;
  height: 1px;
}

.tag-graph-box {
  font-family: Pretendard;
  position: relative;
  width: 100%;
  padding-top: 28px;
  padding-bottom: 28px;
}

.tag-graph-box h1 {
  font-family: Pretendard;
  font-size: 18px;
  margin-left: 24px;
  margin-right: 6px;
  margin-bottom: 20px;
}

.tag-graph-box p {
  font-family: Pretendard;
  font-size: 15px;
  margin-left: 24px;
  margin-bottom: 5px;
  color: rgba(255, 255, 255, 0.7);
}

.tag-graph-box h2 {
  font-family: Pretendard;
  font-size: 15px;
  margin-left: 24px;
  margin-bottom: 5px;
  color: #ffffff;
}

.tag-graph-box img {
  width: 20px;
  height: 20px;
  margin-left: 1%;
  margin-right: 1%;
}

.tag-graph-box .question-icon {
  width: 14px;
  height: 14px;
  opacity: 0.4;
  color: #ffffff;
  cursor: pointer;
}

.chart-graph-box {
  font-family: Pretendard;
  position: relative;
  width: 100%;
  background-color: #141b27;
  padding-top: 28px;
  padding-bottom: 28px;
}

.chart-graph-box .donut-chart {
  margin-top: 29px;
}

.chart-graph-box h1 {
  font-family: Pretendard;
  font-size: 18px;
  margin-left: 27px;
  margin-bottom: 28px;
  color: #ffffff;
}

.chart-graph-box p {
  font-family: Pretendard;
  font-size: 12px;
  display: inline;
  text-align: center;
  margin-left: 13px;
  margin-right: 13px;
}

.chart-graph-box span {
  background: linear-gradient(to right bottom, #00c982, #1466fe);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.expend-box {
  font-family: Pretendard;
  position: relative;
  width: 100%;
  padding-top: 28px;
  padding-bottom: 28px;
  cursor: pointer;
}

.expend-box h1 {
  position: relative;
  display: inline;
  font-family: Pretendard;
  font-size: 18px;
  margin-left: 27px;
  color: #ffffff;
}

.expend-box .box-icon {
  position: relative;
  display: inline;
  color: rgba(255, 255, 255, 0.4);
  width: 24px;
  height: 24px;
  float: right;
  margin: 0 28px;
  top: -3px;
}

/*세부내역 css*/

.static-detail-container {
  margin-top: 70px;
  width: 100vw;
  background-color: rgb(var(--navy));
}

.detail-box {
  font-family: Pretendard;
  position: relative;
  width: 100%;
  background-color: #141b27;
  padding-top: 24px;
  padding-bottom: 23.5px;
}

.detail-box .income-box {
  position: relative;
  background-color: rgba(255, 255, 255, 0.05);
  width: 80%;
  height: 49px;
  border-radius: 13px;
  margin: 0 auto;
  padding-top: 16px;
  font-family: Pretendard;
  margin-bottom: 12px;
  cursor: pointer;
}

.detail-box .income-box p {
  display: inline;
  font-size: 14px;
  font-family: Pretendard;
  margin-left: 21px;
  color: #b4b6b8;
}

.detail-box .income-box h1 {
  position: relative;
  display: inline;
  font-size: 16px;
  font-family: Pretendard;
  color: #ffffff;
  float: right;
}

.detail-box .income-box .detail-icon {
  position: relative;
  display: inline;
  color: rgba(255, 255, 255, 0.4);
  width: 20px;
  height: 20px;
  float: right;
  margin-left: 5px;
  margin-right: 20px;
  top: -3px;
  cursor: pointer;
}

.detail-box .balloon {
  position: relative;
  margin: 0 auto;
  width: 333px;
  height: 112px;
  background: #061023;
  border-radius: 13px;
  margin-top: 18px;
  padding-top: 18.5px;
  padding-bottom: 18.5px;
}

.detail-box .balloon:after {
  border-top: 0 solid transparent;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 13px solid #061023;
  content: "";
  position: absolute;
  top: -10px;
  left: 23px;
}

.detail-box .balloon p {
  font-size: 15px;
  font-family: Pretendard;
  margin-left: 21px;
  margin-bottom: 12.5px;
  color: rgba(255, 255, 255, 0.7);
}

.detail-box .balloon h1 {
  font-size: 18px;
  font-family: Pretendard;
  margin-left: 21px;
  margin-bottom: 8px;
  color: #ffffff;
}

.statistics-box {
  font-family: Pretendard;
  position: relative;
  width: 100%;
  background-color: #141b27;
  padding-bottom: 18px;
  color: #f5f5f5;
}

.statistics-box .statistic-detail-list {
  width: 90vw;
  margin: 2vw 5vw;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  padding: 12px 0;

  color: #b4b6b8;
}

.statistics-box .stat-detail-icon {
  font-size: 20px;
  width: 20px;
  margin-right: 5vw;
  margin-top: -4px;
}

.statistics-box .date {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}

.statistics-box .stat-detail-money {
  margin-left: auto;
}

/*StatisticsIncomeView.css*/
.detail-box .income-detail-box {
  font-family: Pretendard;
  width: 100%;
  background-color: #141b27;
}

.detail-box .income-detail-box p {
  font-family: Pretendard;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.4);
  margin-left: 24px;
  margin-bottom: 15px;
}

.detail-box .income-detail-box h1 {
  font-family: Pretendard;
  font-size: 25px;
  color: #ffffff;
  margin-left: 24px;
  margin-bottom: 15px;
}

.detail-box .balloon2 {
  position: relative;
  margin: 0 auto;
  width: 90vw;
  height: 200px;
  background: #061023;
  border-radius: 13px;
  margin-top: 18px;
  padding-top: 30.5px;
  padding-bottom: 18.5px;
  z-index: 2;
}

.detail-box .balloon2:after {
  border-top: 0 solid transparent;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 13px solid #061023;
  content: "";
  position: absolute;
  top: -10px;
  left: 23px;
}

.detail-box .balloon2 p {
  font-size: 15px;
  font-family: Pretendard;
  margin-left: 21px;
  margin-bottom: 12.5px;
  color: rgba(255, 255, 255, 0.7);
}

.detail-box .balloon2 h1 {
  font-size: 18px;
  font-family: Pretendard;
  margin-left: 21px;
  margin-bottom: 18.5px;
  color: #ffffff;
}

.detail-box .balloon2 .green-Box {
  position: relative;
  width: 80vw;
  height: 80px;
  margin: 0 auto;
  background: #00c982;
  backdrop-filter: blur(4px);
  border-radius: 10px;
  margin-top: 20px;
  padding-top: 17px;
  z-index: 3;
}

.detail-box .balloon2 .green-Box p {
  position: relative;
  width: 100%;
  height: 19px;
  flex-direction: row;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 117%;
  color: #141b27;
  z-index: 4;
}

.detail-box .balloon3 {
  position: relative;
  margin: 0 auto;
  width: 90vw;
  height: 100px;
  background: #061023;
  border-radius: 13px;
  margin-top: 18px;
  padding-top: 35.5px;
  padding-bottom: 30.5px;
  z-index: 2;
}

.detail-box .balloon3:after {
  border-top: 0 solid transparent;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 13px solid #061023;
  content: "";
  position: absolute;
  top: -10px;
  left: 23px;
}

.detail-box .balloon3 p {
  font-size: 15px;
  font-family: Pretendard;
  margin-left: 21px;
  margin-bottom: 12.5px;
  color: rgba(255, 255, 255, 0.7);
}

.detail-box .balloon3 h1 {
  font-size: 18px;
  font-family: Pretendard;
  margin-left: 21px;
  margin-bottom: 18.5px;
  color: #ffffff;
}

.chart {
  position: relative;
  height: 90px;
  padding-top: 10px;
  margin: 0px 36px;
}
