@charset 'utf-8';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  color: #ffffff;
  background-color: #141b27;
  font-family: Pretendard;
}

/*이전 버튼*/
.backBtn {
    position: absolute;
    margin-top: 10%;
    margin-left: 7%;
    margin-bottom: 0;
    z-index: 1;
}

.title {
    position: absolute;
    font-size: 18px;
    font-family: Pretendard;
    width: 100%;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 0;
}

.title .select_month_button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.4);
  border: 0;
  outline: 0;
  cursor: pointer;
}

.title_icon {
    position: absolute;
    margin-top: 10%;
    margin-left: 88%;
    margin-bottom: 0;
}

.title_icon svg {
  width: 24px;
  height: 25px;
}

.sub_title {
  position: relative;
  top: 16%;
  margin-left: 10%;
  font-family: Pretendard;
}

.sub_title h1 {
  font-size: 18px;
  font-family: Pretendard;
}

.sub_title p {
  font-size: 14px;
  font-family: Pretendard;
  margin-top: 8px;
  color: rgba(172, 173, 173, 0.65);
}

/*mission box*/
.mission_box {
  position: relative;
  top: 13%;
  width: 82%;
  border-radius: 20px;
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: Pretendard;
  background-color: rgba(255, 255, 255, 0.05);
  margin: 0 auto;
}

.mission_box p {
  font-family: Pretendard;
  font-size: 14px;
  text-align: center;
  color: rgba(180, 182, 184, 1);
}

.mission_box h1 {
  font-family: Pretendard;
  font-size: 18px;
  margin-top: 6px;
  text-align: center;
  color: #ffffff;
}

.mission_box h2 {
  font-family: Pretendard;
  font-size: 15px;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 30px;
  color: rgba(0, 201, 130, 1);
}

.mission_box .mission_box_input {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.mission_box .mission_box_input input {
  border: 0;
  outline: 0;
  background-color: transparent;
  font-family: Pretendard;
  font-size: 15px;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 30px;
  color: rgba(0, 201, 130, 1);
}

.mission_box img {
  display: block;
  margin: 0 auto;
  width: 67px;
  height: 67px;
}

.mission_box .mission_btn {
  font-family: Pretendard;
  display: block;
  margin: 0 auto;
  width: 62px;
  height: 37px;
  font-size: 16px;
  color: #ffffff;
  background-color: rgba(0, 201, 130, 1);
  border-radius: 13px;
  border: 0;
  margin-top: 32px;
  cursor: pointer;
}

.mission_box2 {
  position: relative;
  top: 20%;
  margin-left: 7%;
  margin: 0 auto;
  width: 82%;
  border-radius: 13px;
  margin-bottom: 12px;
  font-size: 15px;
  font-family: Pretendard;
  background-color: rgba(255, 255, 255, 0.05);
  padding-top: 3.6%;
  padding-bottom: 3.6%;
}

.mission_box2 .mission_icon {
  display: inline-block;
  font-size: 28px;
  width: 34px;
  height: 34px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.mission_box2 p {
  position: relative;
  display: inline-block;
  width: 35%;
  margin-left: 5%;
  margin-right: 5%;
  top: -5%;
}

.mission_box2 .mission_complete_btn {
  position: relative;
  width: 25%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  border-radius: 10.88px;
  border: 0;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.05);
  margin-right: 5%;
  float: right;
}
