@charset 'utf-8';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;

  position: fixed;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: 100vh;
  overflow: scroll;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* margin-top: 40px; */
}

.container p {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 139.52%;
  /* or 29px */

  /* white */

  position: absolute;
  color: #ffffff;
  text-align: center;
  top: 48%;

  z-index: 2;
}

.logo {
  margin-top: 20px;
  width: 168px;
  height: 23.3px;
}

.planet {
  height: max-content;
  opacity: 0.4;
  z-index: 1;
}

.login p {
  position: relative;
  width: 100%;
  height: 20px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;

  /* gray2 */
  z-index: 3;
  color: #939393;
  margin-bottom: 20px;
}

.loginButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginButton a {
  position: relative;
  width: 70vw;
  max-width: 300px;
  height: 48px;
  margin: 0 auto;

  z-index: 3;
}

.loginButton img {
  width: 70vw;
  max-width: 300px;
}