.shared-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
}

.date-price-container {
  padding-top: 5vh;
  transition: 0.5s;
}

.date-price-container.move {
  transform: translatey(-20px);
}

/* .date-price-container.move * {
  margin-top: 0px;
} */
.float-btn {
  position: absolute;
  bottom: 100px;
}

.float-btn.moveBtn {
  bottom: 10px;
}

.float-btn.memo-btn {
  bottom: 120px;
}

.date-price-container .date-text {
  transition: 0.5s;
}

.date-price-container .price-text {
  margin-top: 3vh;
}

.date-price-container .date-text.moveup {
  transform: translateY(10px);
}
.select-eco-container.move {
  transform: translatey(-10vh);
}
.select-eco-container {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
}

.memo-container.move .type,
.memo-container.move .input-data input {
  transition: 0.5s;
}

.shared-container.memo-container.move {
  transform: translateY(-55px);
}

.input-data input {
  font-family: Pretendard;
  background-color: transparent;
  color: #ffffff;
  border: 0 solid black;
  width: 153px;
  height: 40px;
  font-size: 32px;
  text-align: center;
  margin: 40px 20px 20px 20px;
  transition: 0.5s;
}
.input-data input:focus {
  outline: none;
}

.input-date input:focus {
  /* font-size: 40px; */
  margin-top: 60px;
}
.input-data.input-memo input {
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.06);
  width: 240px;
  height: 36px;
  margin: 40px 0 0 0;
  border-radius: 10px;
  text-align: left;
  padding-left: 20px;
}

.input-memo {
  position: relative;
}
.input-memo .close {
  position: absolute;
  top: 52px;
  right: 10px;
  color: #0e0f0f;
  cursor: pointer;
}

/*placeholder 색상 변경*/
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder {
  color: #f5f5f5;
  opacity: 10%;
}

.memo-container .type {
  margin-top: 40px;
}
.type-container .type {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.type-container .floating-type-text {
  text-align: center;
  width: 100vw;
  height: 30px;
  background-color: #141b27;
  z-index: 3;
}
.wrap0,
.wrap1 {
  margin-top: 10vh;
}
.wrap2 .type {
  /* margin-top: -4vh; */
  height: 60vh;
  overflow: scroll;
}
.type-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.05);
  mix-blend-mode: normal;
  box-shadow: 0px 0px 9.61417px rgba(0, 0, 0, 0.1);
  border-radius: 17.4803px;
  color: #b4b6b8;

  width: 25vw;
  height: 25vw; /*반응형으로 크기 조절함*/
  margin: 8px;
  border: 0;
}
.type-box .type-box-emoji {
  font-size: 30px;
  margin-top: -4vw;
}
.type-box .type-box-text {
  position: absolute;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  bottom: 2vh;
}
.type-box-clicked {
  color: black;
  background: #00c982;
}

.memo-skip-btn {
  position: absolute;
  bottom: 100px;
  color: #566479;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
}

.memo-container .memo-info-text {
  background-color: #141b27;
  margin-top: 20px;
}

.select-eco-comment {
  margin: 8vh 0;
}
.select-eco-tag-container {
  font-family: "Pretendard";
  top: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 88%;
}
.select-eco-plus-circle {
  width: 28px;
  height: 28px;
}

.select-eco-plus-circle.pluswhite {
  color: #d3d3d3;
}

.select-eco-plus-circle.plusgrey {
  color: #d3d3d3;
  opacity: 0.5;
}

.floating-confirm-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.floating-confirm-message {
  font-size: 16px;
  padding: 52px 0;
}
.floating-confirm-button {
  display: flex;
  flex-direction: row;
}

.floating-confirm-button > * {
  padding: 0 50px;
  font-size: 18px;
}

.floating-confirm-button .floating-cancel {
  color: rgb(var(--gray));
}

.floating-confirm-button .floating-complete {
  color: rgb(var(--green));
}
