.floating_conainer {
  height: 100vh;
  width: 100vw;
  background-color: rgb(var(--navy));
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: "Pretendard";
}

.floating_complete {
  height: 100vh;
  width: 100vw;
  background-color: rgb(var(--navy));
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: "Pretendard";
  font-size: 16px;
  line-height: 27px;
}
.floating_animation {
  width: 88px;
  height: 88px;
}

.floating_animation rect {
  fill: rgb(var(--navy));
}
.floating_close {
  position: fixed;
  right: 85%;
  top: 25px;
  z-index: 15;
}

.floating_margin {
  height: 20px;
  width: 100vw;
  background-color: rgb(var(--navy));
}

.floating_button {
  width: 100vw;
  height: 70px;
  background-color: rgb(var(--navy));
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 4;
}
