.uploader-wrapper {
    display: flex;
    flex-direction: column;
}

.img-wrapper{
    margin: 5px 0 37px 0;
    width: 84px;
    height: 84px;
    border: 0;
    outline: 0;
    border-radius: 13px;
}

.img-wrapper img {
    width: 84px;
    height: 84px;
    border-radius: 13px;
}

.img-spinner{
    width: 84px;
    height: 84px;
}