.row {
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
}

/* .row-middle {
  align-items: center;
} */

.col {
  margin: 0;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-start {
  justify-content: flex-start;
  text-align: left;
}

.col-center {
  justify-content: center;
  text-align: center;
}

.col-end {
  justify-content: flex-end;
  text-align: right;
}

/* Calendar */

.calendarPage {
  display: block;
  position: relative;
  color: white;
  font-family: Pretendard;
  width: 100vw;
  height: calc(100vh - 150px);
  overflow: scroll;
  margin-top: 70px;
  background-color: rgba(var(--navy));
  -ms-overflow-style: none; /* IE and Edge 스크롤바 숨기기*/
  scrollbar-width: none; /* Firefox */
}

.calendarPage::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.calendars .days {
  font-size: 11px;
  padding: 0.75em 0;
}

.calendars .body {
  margin-bottom: 20px;
}

.calendars .body .cell {
  position: relative;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
}

.calendars .body .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0;
  flex-basis: calc(100% / 7);
  width: calc(100% / 7);
  height: 72px;
}

.calendars .body .col > .number {
  position: absolute;
  display: flex;
  font-size: 13px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 12px;
  width: 30px;
  height: 30px;
}

.col.cell.selected .number {
  border-radius: 50%;
  border: 1px solid white;
}

.col.cell .today {
  font-weight: 700;
}

.cell .disabled {
  color: rgba(255, 255, 255, 0.18);
}

.number.empty {
  color: #6a6f76;
}
.eco1 {
  background-color: rgba(var(--green), 0.3);
  border-radius: 50%;
}
.eco2 {
  background-color: rgba(var(--green), 0.5);
  border-radius: 50%;
}
.eco3 {
  background-color: rgba(var(--green), 0.7);
  border-radius: 50%;
}
.eco4 {
  background-color: rgba(var(--green), 1);
  border-radius: 50%;
}
.detail-cost {
  position: relative;
  font-size: 9px;
  top: 44px;
  margin-top: 2px;
}

.ex-day {
  color: #a5a5a5;
}

.col .eco-day-circle {
  position: absolute;
  font-size: 10px;
  color: rgba(var(--blue));
}

.calendar-info {
  display: flex;
  flex-direction: row;
  width: 86%;
  margin-top: 5px;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 15px;
  font-size: 13px;
}

.calendar-info > * {
  margin-right: 11px;
}

.calendar-info > :last-child {
  margin-right: 1%;
}

.calendar-info > .eco-day {
  color: #898d93;
}

.calendar-info > .eco-day-circle {
  font-size: 10px;
  color: rgba(var(--blue));
  margin-top: 2.5px;
  margin-right: 6px;
}

.eco-cal-circle {
  color: rgba(var(--green));
}

.neco-cal-circle {
  color: rgba(var(--mid-gray));
}

.eco-info {
  margin-top: -2px;
  color: #898d93;
  font-size: 15px;
}

.calendar-toggle {
  margin-left: auto;
}
.calendar-toggle-icon {
  color: #9a9a9a;
  transform: rotate(-90deg);
  margin-top: -1px;
  margin-left: -7px;
}

.calendar-toggle-icon.fold {
  transform: rotate(90deg);
}

.month-info {
  display: flex;
  flex-direction: row;
  padding: 5px 0 25px 0;
  position: relative;
}

.month-info::after {
  content: "";

  position: absolute;
  bottom: 10px;

  width: 100%;
  height: 12px;

  opacity: 0.7;
  border-bottom: 15px solid #000b21;
}

.month-cost > * {
  margin-bottom: 10px;
}
.month-info > :nth-child(1) {
  margin-left: 7%;
}

.month-info > :nth-child(2) {
  margin: auto;
  position: relative;
}
.month-info > :nth-child(2)::before {
  content: "";
  width: 0px;
  height: 50px;
  border-left: 3px solid white;
  opacity: 0.05;
  border-radius: 3px;
  position: absolute;
  left: -15px;
  /* top: -25px; */
}
.month-type {
  font-size: 14px;
  color: #b8bbbe;
}

.month-total {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.cald {
  transition: 0.5s;
}

.move {
  transform: translatey(-140px);
}

/*예시 모달 스타일링 ( 페이지에 직접 영향 x )*/
.calendar-example .week {
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  width: 96%;
  margin-left: 2%;
}

.calendar-example .days {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex-grow: 0;
  flex-basis: calc(100% / 7);
  width: calc(100% / 7);
  height: 72px;
  width: 30px;
}

.calendar-example .days .number {
  display: flex;
  font-size: 14px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 12px;
  width: 30px;
  height: 30px;
  margin-bottom: 0.5em;
}
.calendar-example .number.highlight {
  color: white;
  border-radius: 15px;
}
.calendar-example .days .expend {
  color: white;
}
.calendar-example .number.today {
  font-weight: 700;
  border: 1px solid white;
}

.days .money {
  font-size: 10px;
  margin-bottom: 4px;
}
