@charset 'utf-8';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

/*전체 화면*/
.contents {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: calc(100vh - 70px);
  margin: 0 5% 70px 5%;
  /* overflow-y: scroll; */
}

.icon {
  width: 24px;
  height: 24px;
  color: #a1a4a9;
}

.logo {
  width: 90.87px;
  height: 15.95px;
  margin-bottom: 4px;
}

/*상단 로고 세트*/
.menu {
  position: relative;
  z-index: 4;
  width: 94%;
  margin: 8% 3%;
  height: 24px;
}

.menu a:nth-of-type(2) {
  position: absolute;
  right: 13%;
}

.menu a:nth-of-type(3) {
  position: absolute;
  margin-left: 20px;
  right: 0;
}

/*닉네임, 행성*/
.profiles {
  position: relative;
  width: 100%;
  height: 40%;
}

.nickname {
  color: white;
  position: absolute;
  width: 146px;
  height: 24px;
  left: 3%;
  cursor: pointer;
  z-index: 4;
  font-family: Pretendard;
  font-size: 19px;
  font-weight: 600;
}

.nickname .icon {
  width: 18px;
  height: 18px;
  margin-left: 10px;
  margin-bottom: -3px;
  opacity: 0.8;
}

.planet {
  position: absolute;
  top: 30px;
  width: 270px;
  height: 270px;

  margin-left: calc(50% - 135px);

  border: none;
  border-radius: 50%;
  z-index: 0;
}

.planet img {
  position: absolute;
  top: 30px;
  width: 200px;
  height: 200px;

  margin-left: 30px;

  border: none;
  border-radius: 50%;
  z-index: 0;
}

.planet p {
  position: absolute;
  width: 171px;
  height: 40px;
  left: 45px;
  top: 110px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 155%;
  /* or 20px */

  text-align: center;

  color: #FFFFFF;

  opacity: 0.5;
}

.question {
  position: absolute;
  width: 18px;
  height: 18px;
  right: 40px;
  top: 40px;
  opacity: 0.4;
  color: #ffffff;
  cursor: pointer;
  z-index: 1;
}

/*월간 내역*/
.monthly {
  position: relative;
  width: 100%;
  height: 140px;
  top: 25px;

  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.08);
  border-radius: 13px;
}

.month {
  position: absolute;
  width: 39px;
  height: 23px;
  left: 21px;
  top: 20px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */

  color: #ffffff;
}

.history {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 22px;
  top: 19px;

  display: flex;

  opacity: 0.4;
  color: #ffffff;
}

.income {
  position: relative;
  width: 100%;
  height: 23.13px;
  left: 26px;
  top: 60px;
  font-family: Pretendard;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  /* light grey */

  color: #b4b6b8;
}

.income h1 {
  position: relative;
  width: 100%;
  height: 16px;
  top: -20px;
  float: right;
  right: 26px;


  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */

  display: flex;
  align-items: center;

  /* white */

  color: #FFFFFF;
  justify-content: flex-end;

}

.expend {
  position: absolute;
  width: 237px;
  height: 22.66px;
  left: 26px;
  top: 100px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  /* light grey */

  color: #b4b6b8;
}

.expend h1 {
  position: relative;
  width: 95px;
  height: 16px;
  left: 200px;
  top: -20px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */

  display: flex;
  align-items: center;

  /* white */

  color: #FFFFFF;
  justify-content: flex-end;
}

/* etc */
.etc {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: relative;

  height: 95px;

  width: 100%;
  top: 40px;
  /* overflow-x: scroll; */

  /* -ms-overflow-style: none;
  /* IE and Edge */
  /*scrollbar-width: none;
}
.etc::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera*/
}

/*etc의 상자, 글씨, 버튼*/
div.box {
  position: relative;
  width: 50%;
  height: 95px;
  left: 0px;
  top: 0px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 5px;

  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.08);
  border-radius: 13px;
}

p.box_text {
  position: absolute;
  width: 65px;
  height: 42px;
  left: 15px;
  top: 13px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 21px;
  /* or 140% */

  color: #ffffff;
}

.btn {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 110px;
  top: -3px;
  opacity: 0.4;
  color: #ffffff;
}

.floating {
  position: fixed;
  width: 55px;
  height: 55px;
  right: 18px;
  bottom: 70px;
  color: #566479;
}

.check>path {
  stroke: #00c982;
}

.check {
  position: relative;
  width: 24px;
  height: 24px;
  left: 111px;
  top: 56px;
}

.check>polyline {
  stroke: white;
}

.bag {
  position: relative;
  width: 24px;
  height: 24px;
  left: 111px;
  top: 56px;

  color: white;
}

.bag>line {
  stroke: #00c982;
}

.bag>path:nth-child(1) {
  stroke: #00c982;
}

.bag>path:nth-child(2) {
  stroke: #ffffff;
}

.num {
  position: relative;
  width: 31px;
  height: 35px;
  left: 100px;
  right: 18px;
}

.num>p:nth-child(1) {
  position: absolute;
  left: 0%;
  right: 73.97%;
  top: 18.46%;
  bottom: 35.68%;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 14.3077px;
  line-height: 17px;

  color: #00c982;
}

.num>p:nth-child(2) {
  position: absolute;
  left: 37.54%;
  right: 32.09%;
  top: 46.49%;
  bottom: 0%;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 16.3333px;
  line-height: 20px;

  color: rgba(0, 201, 130, 0.5);
}

.num>p:nth-child(3) {
  position: absolute;
  left: 64.63%;
  right: 6.45%;
  top: 0%;
  bottom: 49.03%;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 15.5555px;
  line-height: 19px;

  color: rgba(0, 201, 131, 0.3);
}