@charset 'utf-8';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

.bottomBtn {
    display: flex;
    margin: 0 auto;
    margin-top: 250px;
}

.bottomBtnActive {
    font-family: Pretendard;
    font-size: 13px;
    color: #1B2434;
    width: 117px;
    height: 43px;
    margin: 10px;
    text-align: center;
    padding : 13px, 46px, 13px, 46px;
    border-radius: 27.51px;
    border: 0;
    outline: 0;
}

.bottomBtnDisabled {
    font-family: Pretendard;
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #1B2434;
    width: 117px;
    height: 43px;
    margin: 10px;
    text-align: center;
    padding : 13px, 46px, 13px, 46px;
    border-radius: 27.51px;
    border: 0;
    outline: 0;
}