@charset 'utf-8';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

.inputData {
    display: flex;
    margin: 0 auto;
}

/*test 다 끝나면 클릭했을 때 border도 없애기*/
.inputData input {
    font-family: Pretendard;
    background-color: transparent;
    color: #ffffff;
    border: 0 solid black;
    width: 153px;
    height: 40px;
    font-size: 40px;
    text-align: center;
    margin: 20px;
}

.inputData input:focus {
    outline: none;
}

.inputPrice {
    display: flex;
    margin: 0 auto;
}

.inputPrice input:focus {
    outline: none;
}

/*test 다 끝나면 클릭했을 때 border도 없애기*/
.inputPrice input {
    font-family: Pretendard;
    background-color: transparent;
    color: #ffffff;
    border: 0 solid black;
    width: 153px;
    height: 40px;
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

/*placeholder 색상 변경*/
::-webkit-input-placeholder { /* 크롬 4–56 */
    color: #F5F5F5;
    opacity: 10%;
}

:-moz-placeholder { /* 파이어폭스 4–18 */
    color: #F5F5F5;
    opacity: 10%;
}

::-moz-placeholder { /* 파이어폭스 19–50 */
    color: #F5F5F5;
    opacity: 10%;
}

:-ms-input-placeholder { /* 인터넷 익스플로러 10+ */
    color: #F5F5F5;
    opacity: 10%;
}

::placeholder { /* 파이어폭스 51+, 크롬 57+ */
    color: #F5F5F5;
    opacity: 10%;
}
