@charset 'utf-8';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

.type_box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 18px;

  position: relative;
  height: 37px;
  left: 195.77px;
  top: 315px;

  background: rgba(0, 201, 130, 0.1);
  border-radius: 43px;
  display: inline-block;
  border: 0;
  margin-left: 10px;
}
.type {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  height: 37px;
  left: -140px;
  top: -60px;
}
.type2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  height: 37px;
  left: -160px;
  top: -10px;
}
.type3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  height: 37px;
  left: -140px;
  top: 40px;
}
.type4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  height: 37px;
  left: -140px;
  top: 90px;
}
