@charset 'utf-8';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
.type {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 93.52px;
  height: 93.52px;
  left: 32px;
  top: 379px;
}
.type_box {
  position: relative;
  flex-direction: column;

  background: rgba(255, 255, 255, 0.05);
  mix-blend-mode: normal;
  box-shadow: 0px 0px 9.61417px rgba(0, 0, 0, 0.1);
  border-radius: 17.4803px;
  text-align: center;

  width: 93.52px;
  height: 93.52px;
  left: 0px;
  top: 0px;

  flex: none;
  margin: 0px 8px;

  border: 0;
}
.type_box p {
  font-size: 30px;
  position: absolute;
  left: -13px;
  bottom: 0px;
}
.type_box_text {
  position: absolute;
  width: 23px;
  height: 13px;
  left: 36px;
  top: 68px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  /* identical to box height, or 100% */

  text-align: center;
  letter-spacing: 0.02em;

  color: #ffffff;
}
.type_box_clicked {
  position: relative;
  flex-direction: column;
  left: 30.11%;
  right: 39.77%;

  background: #00c982;
  mix-blend-mode: normal;
  box-shadow: 0px 0px 9.61417px rgba(0, 0, 0, 0.1);
  border-radius: 17.4803px;
  text-align: center;

  width: 93.52px;
  height: 93.52px;
  left: 0px;
  top: 0px;

  flex: none;
  margin: 0px 15px;
}
.type_box_clicked {
  position: relative;
  flex-direction: column;
  background: #00c982;
  mix-blend-mode: normal;
  box-shadow: 0px 0px 9.61417px rgba(0, 0, 0, 0.1);
  border-radius: 17.4803px;
  text-align: center;

  width: 93.52px;
  height: 93.52px;
  left: 0px;
  top: 0px;

  flex: none;
  margin: 0px 8px;
  border: 0;
}
.type_box_clicked p {
  font-size: 30px;
  position: absolute;
  left: -13px;
  bottom: 0px;
}
.bottomBtn3 {
  display: flex;
  margin-top: 222px;
  left: -200px;
  margin: 245px -300px;
}
