@charset 'utf-8';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

.type_box {
  display: flex;
  align-items: center;
  padding: 6px 18px;

  position: relative;
  height: 37px;
  left: 195.77px;
  top: 315px;

  background: rgba(0, 201, 130, 0.1);
  border-radius: 43px;
  display: inline-block;
  border: 0;
  margin-left: 10px;
}
.type_box2 {
  display: flex;
  align-items: center;
  padding: 6px 18px;

  position: relative;
  height: 37px;
  left: 195.77px;
  top: 315px;

  background: rgba(196, 196, 196, 0.1);
  border-radius: 43px;
  display: inline-block;
  border: 0;
  margin-left: 10px;
}
.type {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  align-items: center;

  position: absolute;
  height: 37px;
  left: -170px;
  top: -60px;
}
.type2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  height: 37px;
  left: -190px;
  top: -10px;
}
.type3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  height: 37px;
  left: -180px;
  top: 40px;
}
.type4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  height: 37px;
  left: -150px;
  top: 90px;
}
.type_box_clicked {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 18px;

  position: relative;
  height: 37px;
  left: 195.77px;
  top: 315px;

  background: #00c982;
  border-radius: 43px;
  display: inline-block;
  border: 0;
  margin-left: 10px;
}
.type_box_clicked2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 18px;

  position: relative;
  height: 37px;
  left: 195.77px;
  top: 315px;

  background: #b4b6b8;
  border-radius: 43px;
  display: inline-block;
  border: 0;
  margin-left: 10px;
}
.type_box_text {
  position: static;
  width: auto;
  height: 16px;
  left: 18px;
  top: 10.5px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  /* identical to box height, or 107% */

  text-align: center;

  /* white */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.type_box_text2 {
  position: static;
  width: auto;
  height: 16px;
  left: 18px;
  top: 10.5px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  /* identical to box height, or 107% */

  text-align: center;

  /* white */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}
