.addTagContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  height: 250px;
}

.sbutton {
  border-radius: 43px;
  padding: 8px 18px;
  margin: 5px;
  border: none;
}
.nchecked {
  color: rgba(255, 255, 255, 0.5);
}

.eco.nchecked {
  background-color: rgba(var(--green), 0.1);
}

.eco.checked {
  background-color: rgba(var(--green));
  color: black;
}

.neco.nchecked {
  background-color: rgba(var(--mid-gray), 0.1);
}
.neco.checked {
  background-color: rgba(var(--gray));
  color: black;
}

.etc.checked {
  background-color: white;
  color: black;
}

.etc.nchecked {
  background-color: rgb(255, 255, 255, 0.1);
}

.inputMemo {
  display: flex;
  margin: 20px auto;
  position: relative;
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 8px;
  width: 260px;
  height: 36px;
}
.inputMemo input {
  position: relative;
  height: 36px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  background-color: transparent;

  border: none;

  text-align: left;
  padding-left: 15px;

  color: #ffffff;
}

.selectTag {
  position: relative;
  top: 10px;
}
::-webkit-input-placeholder {
  /* 크롬 4–56 */
  color: rgba(var(--light-gray));
  opacity: 10%;
}

.close {
  position: absolute;
  top: 11px;
  right: 12px;
  font-size: 15px;

  color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
}
.coment3 {
  color: rgba(var(--green));
}
