.row {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
}

.row2 {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #ffffff;
}

.row-middle {
  align-items: center;
}

.col {
  margin: 0;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-start {
  justify-content: flex-start;
  text-align: left;
}

.col-center {
  justify-content: center;
  text-align: center;
}

.col-end {
  justify-content: flex-end;
  text-align: right;
}

/* Calendar */

.calendar {
  font-family: Pretendard;
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #141b27;
  color: white;
  margin-top: 70px;
  margin-bottom: 70px;
}

.month-box {
  font-family: Pretendard;
  position: relative;
  width: 100%;
  background-color: #141b27;
  padding-top: 25px;
  padding-bottom: 6.87px;
  cursor: pointer;
}

.month-box .month-breakdown {
  position: relative;
  margin-bottom: 25px;
}

.month-box .month-breakdown p {
  display: inline;
  font-size: 16px;
  font-family: Pretendard;
  margin-left: 21px;
  color: rgba(255, 255, 255, 0.4);
}

.month-box .month-breakdown h1 {
  position: relative;
  display: inline;
  font-size: 25px;
  font-family: Pretendard;
  margin-left: 21px;
  color: #ffffff;
  float: right;
  margin: 0 32px;
  top: -3px;
}

.month-box .month-breakdown .box-icon {
  position: relative;
  display: inline;
  color: rgba(255, 255, 255, 0.4);
  width: 24px;
  height: 24px;
  float: right;
  margin: 0 28px;
  top: -3px;
}

.line-box {
  background-color: #000b21;
  width: 100%;
  height: 12px;
}

.line-box2 {
  background-color: #000b21;
  width: 100%;
  height: 1px;
}

.tag-graph-box {
  font-family: Pretendard;
  position: relative;
  width: 100%;
  background-color: #364866;
  padding-top: 28px;
  padding-bottom: 28px;
}

.tag-graph-box h1 {
  font-family: Pretendard;
  font-size: 18px;
  margin-left: 24px;
  margin-right: 6px;
  margin-bottom: 20px;
}

.tag-graph-box p {
  font-family: Pretendard;
  font-size: 15px;
  margin-left: 24px;
  margin-bottom: 5px;
  color: rgba(255, 255, 255, 0.7);
}

.tag-graph-box h2 {
  font-family: Pretendard;
  font-size: 15px;
  margin-left: 24px;
  margin-bottom: 5px;
  color: #ffffff;
}

.tag-graph-box img {
  width: 20px;
  height: 20px;
}

.chart-graph-box {
  font-family: Pretendard;
  position: relative;
  width: 100%;
  background-color: #141b27;
  padding-top: 28px;
  padding-bottom: 28px;
}

.chart-graph-box .donut-chart {
  margin-top: 29px;
}

.chart-graph-box h1 {
  font-family: Pretendard;
  font-size: 18px;
  margin-left: 27px;
  margin-bottom: 28px;
  color: #ffffff;
}

.chart-graph-box p {
  font-family: Pretendard;
  font-size: 12px;
  display: inline;
  text-align: center;
  margin-left: 13px;
  margin-right: 13px;
}

.chart-graph-box span {
  background: linear-gradient(to right bottom, #00c982, #1466fe);
  color: transparent;
  -webkit-background-clip: text;
}

.expend-box {
  font-family: Pretendard;
  position: relative;
  width: 100%;
  background-color: #364866;
  padding-top: 28px;
  padding-bottom: 28px;
  cursor: pointer;
}

.expend-box h1 {
  position: relative;
  display: inline;
  font-family: Pretendard;
  font-size: 18px;
  margin-left: 27px;
  color: #ffffff;
}

.expend-box .box-icon {
  position: relative;
  display: inline;
  color: rgba(255, 255, 255, 0.4);
  width: 24px;
  height: 24px;
  float: right;
  margin: 0 28px;
  top: -3px;
}

/*세부내역 css*/
.detail-box {
  font-family: Pretendard;
  position: relative;
  width: 100%;
  background-color: #141b27;
  padding-top: 24px;
  padding-bottom: 23.5px;
}

.detail-box .income-box {
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  width: 342px;
  height: 49px;
  border-radius: 13px;
  margin: 0 auto;
  padding-top: 16px;
  font-family: Pretendard;
  margin-bottom: 12px;
  cursor: pointer;
}

.detail-box .income-box p {
  display: inline;
  font-size: 14px;
  font-family: Pretendard;
  margin-left: 21px;
  color: #b4b6b8;
}

.detail-box .income-box h1 {
  position: relative;
  display: inline;
  font-size: 16px;
  font-family: Pretendard;
  color: #ffffff;
  float: right;
}

.detail-box .income-box .detail-icon {
  position: relative;
  display: inline;
  color: rgba(255, 255, 255, 0.4);
  width: 20px;
  height: 20px;
  float: right;
  margin-left: 18px;
  margin-right: 20px;
  top: -3px;
  cursor: pointer;
}

.detail-box .balloon {
  position: relative;
  margin: 0 auto;
  width: 333px;
  height: 112px;
  background: #061023;
  border-radius: 13px;
  margin-top: 18px;
  padding-top: 18.5px;
  padding-bottom: 18.5px;
}

.detail-box .balloon:after {
  border-top: 0 solid transparent;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 13px solid #061023;
  content: "";
  position: absolute;
  top: -10px;
  left: 23px;
}

.detail-box .balloon p {
  font-size: 15px;
  font-family: Pretendard;
  margin-left: 21px;
  margin-bottom: 12.5px;
  color: rgba(255, 255, 255, 0.7);
}

.detail-box .balloon h1 {
  font-size: 18px;
  font-family: Pretendard;
  margin-left: 21px;
  margin-bottom: 8px;
  color: #ffffff;
}

.statistics-box {
  font-family: Pretendard;
  position: relative;
  width: 100%;
  background-color: #141b27;
  padding-bottom: 18px;
}

.statistics-box .drop-box {
  margin-bottom: 32px;
  margin-left: 18px;
  margin-top: 18px;
}

.statistics-box .day-box {
  margin-bottom: 32px;
  margin-top: 17px;
}

.statistics-box .day-box p {
  font-family: Pretendard;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 16px;
  margin-left: 21px;
}

.statistics-box .day-box .day-breakdown-box {
  width: 100%;
}

.statistics-box .day-box .day-breakdown-box h1 {
  font-family: Pretendard;
  position: relative;
  display: inline;
  font-size: 14px;
  color: #b4b6b8;
  padding-top: 15px;
  margin-left: 12.6px;
}

.statistics-box .day-box .day-breakdown-box h2 {
  font-family: Pretendard;
  position: relative;
  display: inline;
  font-size: 14px;
  color: #b4b6b8;
  padding-top: 13px;
  margin-right: 29.12px;
  float: right;
}

.statistics-box .day-box .day-breakdown-box p {
  font-family: Pretendard;
  font-size: 11px;
  color: #566479;
  margin-top: 3.12px;
  margin-left: 75px;
}

.statistics-box .day-box .day-breakdown-box .day-breakdown-box-icon {
  position: relative;
  display: inline;
  font-size: 30px;
  color: #434952;
  margin-left: 21px;
}

/*StatisticsIncomeView.css*/
.detail-box .income-detail-box {
  font-family: Pretendard;
  width: 100%;
  background-color: #141b27;
}

.detail-box .income-detail-box p {
  font-family: Pretendard;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.4);
  margin-left: 24px;
  margin-bottom: 15px;
}

.detail-box .income-detail-box h1 {
  font-family: Pretendard;
  font-size: 25px;
  color: #ffffff;
  margin-left: 24px;
  margin-bottom: 15px;
}

.detail-box .balloon2 {
  position: relative;
  margin: 0 auto;
  width: 382px;
  background: #061023;
  border-radius: 13px;
  margin-top: 18px;
  padding-top: 18.5px;
  padding-bottom: 18.5px;
  z-index: 2;
}

.detail-box .balloon2:after {
  border-top: 0 solid transparent;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 13px solid #061023;
  content: "";
  position: absolute;
  top: -10px;
  left: 23px;
}

.detail-box .balloon2 p {
  font-size: 15px;
  font-family: Pretendard;
  margin-left: 21px;
  margin-bottom: 12.5px;
  color: rgba(255, 255, 255, 0.7);
}

.detail-box .balloon2 h1 {
  font-size: 18px;
  font-family: Pretendard;
  margin-left: 21px;
  margin-bottom: 18.5px;
  color: #ffffff;
}

.detail-box .balloon2 .ballon-box {
  position: relative;
  margin: 0 auto;
  width: 304px;
  height: 70px;
  background-color: #00c982;
  padding-top: 13px;
  border-radius: 13px;
  font-family: Pretendard;
  margin-bottom: 16px;
  z-index: 1;
}

.detail-box .balloon2 .ballon-box p {
  font-size: 16px;
  font-family: Pretendard;
  margin-left: 21px;
  color: #141b27;
}
