@charset 'utf-8';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  color: #ffffff;
  background-color: #141b27;
  font-family: Pretendard;
}

/*이전 버튼*/
.backBtn {
    position: absolute;
    margin-top: 10%;
    margin-left: 7%;
    margin-bottom: 0;
    z-index: 1;
}

.title {
    position: absolute;
    font-size: 18px;
    font-family: Pretendard;
    width: 100%;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 0;
  }

/*이름, 계정 정보 박스*/
.name_box {
    position: relative;
    width: 100%;
    margin-top: 25%;
    margin-bottom: 10%;
    font-family: Pretendard;
}

.name_box h1 {
    font-size: 18px;
    font-family: Pretendard;
    margin-bottom: 8px;
    text-align: center;
}

.name_box p {
    font-size: 13px;
    font-family: Pretendard;
    text-align: center;
    color: rgba(180, 182, 184, 1);
}

/*소셜 로그인 연결 박스*/
.login_box {
    position: relative;
    width: 90%;
    height: 138px;
    margin: 0 auto;
    margin-bottom: 12px;
    border-radius: 13px;
    font-size: 12px;
    font-family: Pretendard;
    background-color: rgba(255, 255, 255, 0.05);
}

.login_box h1 {
    text-align: center;
    margin: 19px;
}

/*쿠폰함 박스*/
.coupon_box {
    position: relative;
    width: 90%;
    height: 62px;
    margin: 0 auto;
    margin-bottom: 8px;
    padding-left: 18px;
    padding-top: 24px;
    border-radius: 13px;
    font-size: 16px;
    font-family: Pretendard;
    background-color: rgba(255, 255, 255, 0.05);
}

.info_icon {
    position: relative;
    width: 24px;
    color: #676B73;
    cursor: pointer;
    float: right;
    margin-right: 5%;
}

/*로그아웃*/
.logout_box {
    position: relative;
    width: 85%;
    height: 62px;
    margin: 0 auto;
    padding-top: 24px;
    font-size: 14px;
    font-family: Pretendard;
}

.logout_box p{
    cursor: pointer;
    width: 49px;
}

/*회원탈퇴*/
.drop_box {
    position: relative;
    width: 85%;
    height: 62px;
    margin: 0 auto;
    padding-top: 24px;
    color: rgba(255, 255, 255, 0.2);
    font-size: 14px;
    font-family: Pretendard;
    border-top: 0.5px solid rgba(255, 255, 255, 0.12);
}

.drop_box p{
    cursor: pointer;
    width: 49px;
}

/*소셜 로그인 아이콘*/
/*네이버*/
.kakao_icon {
    position: relative;
    width: 20%;
    text-align: center;
    float: left;
    margin-left: 20%;
}

.kakao_icon img {
    width: 42px;
    height: 42px;
    cursor: pointer;
}

.kakao_icon h2{
    text-align: center;
    margin-top: 10px;
    color: rgba(180, 182, 184, 1);
}

/*네이버*/
.naver_icon {
    position: relative;
    width: 20%;
    text-align: center;
    float: left;
}

.naver_icon img {
    width: 42px;
    height: 42px;
    cursor: pointer;
    color: #4e5157;
}

.naver_icon h2{
    text-align: center;
    margin-top: 10px;
    color: rgba(180, 182, 184, 1);
}

/*구글*/
.google_icon {
    position: relative;
    width: 20%;
    text-align: center;
    float: left;
    margin-right: 20%;
}

.google_icon img{
    width: 42px;
    height: 42px;
    cursor: pointer;
    color: #4e5157;
}

.google_icon h2{
    text-align: center;
    margin-top: 10px;
    color: rgba(180, 182, 184, 1);
}

