@charset 'utf-8';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.content {
  position: absolute;

  flex-wrap: wrap;

  display: flex;
  justify-content: center;

  position: fixed;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: 100vh;
}

.container {
  position: relative;
  top: 100px;
  left: 60px;
}

.container p {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160.52%;
  /* or 29px */

  display: flex;
  align-items: center;
  text-align: center;
  margin-top: -290px;

  /* white */

  position: relative;
  color: #ffffff;

  z-index: 2;
}

.logo {
  position: relative;
  width: 168px;
  height: 23.3px;
  display: flex;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}

.planet {
  position: relative;
  width: 100%;
  height: 456px;
  opacity: 0.4;
  left: -85px;
  z-index: 1;

  justify-content: center;
  text-align: center;
}

.login {
  position: absolute;
  top: 287px;
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: center;
}

.login p {
  position: relative;
  width: 100%;
  height: 20px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */

  display: flex;
  align-items: center;
  text-align: center;

  /* gray2 */

  z-index: 3;

  color: #939393;
}

.google {
  position: relative;
  width: 343px;
  height: 48px;
  top: 21px;
  background: #ffffff;
  /* gray_01 */

  border: 1px solid #d8d8d8;
  box-sizing: border-box;
  border-radius: 10px;
  border: 0;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #000000;
  justify-content: center;
  text-align: center;
}

.logoimg {
  position: absolute;
  width: 46.54px;
  height: 48px;
  left: 31px;
  top: 0px;
}

.naver {
  position: relative;
  width: 343px;
  height: 48px;
  top: 35px;

  background: #2db400;
  box-sizing: border-box;
  border-radius: 10px;
  border: 0;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #ffffff;
  justify-content: center;
  text-align: center;
}

.kakao {
  position: relative;
  width: 343px;
  height: 48px;
  top: 49px;

  background: #fee500;
  border-radius: 10px;
  box-sizing: border-box;

  border: 0;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* black */

  color: #000000;
  justify-content: center;
  text-align: center;
}